.button {
    padding: 10px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    background-color: rgb(236, 44, 10);
    border-radius: 3px;
    border: none;
    margin-top: 5px;
}

.textField {
    padding: 5px;
    margin: 10px 0;
    display: block;
}